html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Over this is just myers reset */

@font-face {
  font-family: "Playfair Display";
  src: url("./font/playfairdisplay-variablefont_wght-webfont.woff2") format("woff2"), url("./font/playfairdisplay-variablefont_wght-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  --blue: #1a92d3;
  --gray: #e2e8f0;
  font: "Playfair Display", sans-serif ;
}


.container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 6fr;
}

.header {
  grid-row: 1;
  grid-column: 2;
  background-color: white;
  color: black;

  display: grid;
  grid-template-columns: 2fr 1fr;
}

.user-buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  align-content: center;
  justify-items: space-evenly;
  margin-right: 50px;

  grid-column: 2;
  grid-row: 2;
}

.btn  {
  background-color: var(--blue);
  color: white;
  padding: 7px 10px;
  border-radius: 50px;
  border-style: solid;
  border: 1px solid var(--blue);
  font-size: 0.9rem;
}


.search-bar {
  grid-column: 1;
  align-self: center;
  padding-left: 30px;
  font: 2rem;
}

.search-bar > input {
  width: 50%;
  border-radius: 10px;
  background-color: var(--gray);
  border: 1px solid var(--gray);
}

.greeting-container {
  grid-row: 2;

  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 2fr;

}

.greeting {
  align-self: end;
}
.greeting-container > .user-icon {
  padding-left: 70px;
  align-self: center;
  justify-self: end;
  padding-right: 30px;

  grid-row: 1 / 3;
}

.greeting-container > .user-name {
  align-self: center;

}



.user-info {
  grid-column: 2;

  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  align-items: center;
  justify-items: center;
}

.dashboard {
  grid-row: 1 / 3;
  background-color: var(--blue);
  color: white;

  display: grid;
  grid-template-rows: 2fr 1fr 1fr 1fr 1fr 1fr 2fr 1fr 1fr 45%;
  justify-items: center;

}

.content-container {
  background-color: var(--gray);
  padding: 30px;
  grid-column: 2;
  grid-row: 2;

  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1.5rem 6fr;

  gap: 3px;
}

.area-title {
  grid-row: 1;
  align-items: end;
}

.project-title {
  grid-column: 1;
}

.annouce-title {
  grid-column: 2;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(3, 1fr);
  background-color: var(--gray);
  padding-right: 20px;

  grid-row: 2;
  gap: 20px;
}

.project {
  background-color: white;
  border-radius: 10px;
  max-height: 200px;

  display: grid;
  grid-template-rows: 2fr 5fr 1fr;
  grid-template-columns: 1fr;
  padding: 0;


  border-left: 8px solid #f0b42a;
}

strong {
  font-weight: bold;
}

.title {
  font-size: 1.2rem;
  padding: 10px;
  padding-left: 30px;
  font-weight: bold;
  color: black;

  grid-column: 1;
  grid-row: 1;
}

.project-writeup {
  color: var(--gray);
  filter: brightness(75%);
  padding-left: 30px;

  grid-column: 1 / 3;
  grid-row: 2;
}

.project > .user-buttons {

  grid-row: 3;
  justify-items: end;
  margin: 0;
  margin-right: 10px;
  margin-bottom: 10px;
}


.dashboard-item {
  font-size: 1.5rem;
  padding: 0;
  align-self: start;
}

.dashboard-title {
  font-size: 2rem;
  padding-top: 20px;
}

.sidebar {
  grid-column: 2;
  grid-row: 2;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.announcements {
  background-color: white;
  margin-bottom: 20px;
  border-radius: 10px;

  grid-row: 1;
  display: grid;
  grid-template-rows: repeat(3, 1fr);


}

.annouce-box > p {
  font-size: 0.8 rem;
  padding: 10px 0 0 10px;
}

.annouce-box {
  color: var(--gray);
  filter: brightness(75%);
  font-size: 0.8rem;
  margin-top: 12px;
}

.annouce-box:nth-child(2),
.annouce-box:nth-child(1) {
 position: relative;
}

.annouce-box:nth-child(2):after,
.annouce-box:nth-child(1):after  {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 60%;
  height: 1px;
  border-bottom: 1.5px solid var(--gray);
  left: 20%;
  filter: brightness(120%);
}



.trending {
  grid-row: 2;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 5fr;
}

.trending-title {
  grid-row: 1;
  grid-column: 1 / 3;
}

.trending-container {
  grid-row: 2;
  grid-column: 1 / 3;

  display: grid;

  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;

  border: 1px solid white;
  background-color: white;

  border-radius: 10px;
}

.user-trending {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 1fr;


}

.user-icon {
  grid-row: 1 / 3;
  grid-column: 1;
}

.user-name {
  grid-row: 1;
  grid-column: 2;
}

.user-app {
  grid-row: 2;
  grid-column: 2;
}

.user-name,
.user-app {
  color: var(--gray);
  filter: brightness(75%);
}
